* {
  /*text-aling: center;*/
  font-family:'Josefin Sans', sans-serif;
  font-size: 25px;
  aling-items: center;
  justify-content: center;

 

}


body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right:0px;
}

#main-header{
<<<<<<< HEAD
    background-image: url(./image/07.jpg);
=======

    background-image: url(./image/07.jpg);

>>>>>>> f1cb14556077f37ccaa9403a0a8a1d13e77181f5
    height: 120px;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    width: 100%;
    background-position-x: center;
    background-size: cover;
    margin: 0px;
    color: black;
    font-weight: normal;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 60px;
    /*position: fixed; esto es para que se quede fijo aunque se desplaze el usuario hacia abajo, aún no se agrega.*/
}

header {
    width: 100%;
  display: flex;
  align-items: center;
}

#introtxt{
  width: 100%;
  display: flex;
  align-items: center;

}

#box1,#box2{
    float: left;
    margin: 25px;

}

#centerbtn{
  margin-left: 450px;
}

/*#repeatbtn{
  margin-left: 450px;
  margin-top: 600px;

  

}
*/
#textboxes{
<<<<<<< HEAD
  width: 100%;
  display: flex;
  align-items: center;

}


=======
  margin-top: 40px;
}


  



>>>>>>> f1cb14556077f37ccaa9403a0a8a1d13e77181f5
button {
    padding: 15px;
    background-color: #132639;
    border-radius: 10px;
    border: 3px double #0d1a26;
    cursor: pointer;
    color: #1f7a3d;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 15px 25px 15px 25px;
}

button:hover{
    opacity: 0.6;
    background-color: #3e8e41;
    text-decoration: none;
   /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
  }


button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

main{
  align-items: center;
  width: 100%;
  display: flex;

}


<<<<<<< HEAD
=======
  
}
>>>>>>> f1cb14556077f37ccaa9403a0a8a1d13e77181f5

#btnBike, #btnMoto, #btnCar {
  display:block
}

#repeatbtn {
  align-items: center;
  width: 100%;
  display:flex;
}

#instagram,#facebook,#twitter {
    margin: 15px 25px 15px 25px;
}

a {
  opacity: 0.4;
  color: #132639;
}

footer {
   position:fixed;
   left:0px;
   bottom:15px;
   height:30px;
   width:100%;
   background:##1f7a3d;

}
